src/main/mule/comman.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="FirstFlow" doc:id="edcd3be2-2640-4b8e-a554-55b22ff3cbb5" >
		<http:listener doc:name="Listener" doc:id="15513d9e-f5cf-49ab-9cb7-d57717c938b5" config-ref="HTTP_Listener_config" path="/firstFlow"/>
		<flow-ref doc:name="Flow Reference" doc:id="582fe8ea-7056-4d9b-9354-d395365dec50" name="commanFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="9fef5774-365d-41d8-9762-d2ce86b8b0c9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2c4b41fd-5d5c-499e-a391-26d161d26293" message="#[vars.commandVariable]"/>
	</flow>
	<flow name="commanFlow" doc:id="5f61957c-3ff7-452c-90b4-7f38a82f3581" >
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="c358f242-f738-409e-920c-9b4e982bb5d3" variableName="commandVariable"/>
	</flow>
	<flow name="SecondFlow" doc:id="593ef5e2-4327-424c-87f2-127e6c8a4e30" >
		<http:listener doc:name="Listener" doc:id="1ed9318d-1765-4a80-b119-1ea5ea7fe963" config-ref="HTTP_Listener_config" path="/secondFlow"/>
		<flow-ref doc:name="Flow Reference" doc:id="c441710a-0edd-461b-af57-703c4f16472f" name="commanFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="a69f5f9d-d3d6-4545-b116-cb14c0f1dbb1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="96c21071-149a-4cb5-867c-034d583b0a95" message="#[vars.commandVariable]"/>
	</flow>
</mule>
